@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


#background {
    background-image: url('./environment/backgif.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#start {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    background-image: url('./environment/background.jpg');
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#start #logo {
    width: 40%;
    height: 20%;
}

#start #press {
    width: 20%;
    height: 10%;
}


#select {
    position: relative;
    z-index: 5;
    background-color: #000;
    margin: 50px auto;
    width: 50%;
    height: 60%;
    padding: 10px;
    border: 6px double saddlebrown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#select p {
    margin-top: 3rem;
    font-family: 'Press Start 2P', cursive;
    color: #FF0000;
    font-size: 14px;
}

#select #players {
    background-color: darkslateblue;
    width: 40%;
    height: 10%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid red;
    border-radius: 4px;
    padding: 10px;
}

#select #players img {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.selected {
    border-left: 1px solid #66666688;
    border-top: 1px solid #66666688;
    box-shadow: 5px 5px 5px #666666;
    

}


#main {
    background-image: url('img/water.png');
    background-size: 40px;
    background-repeat: repeat; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    width: 1000px;
    height: 600px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 25px;
    border: 2px solid #FF0000;
    border-radius: 6px;
}

#fishes {
    position: absolute;
    z-index: 1;
    background-image: url('./environment/fish.gif');
    background-size: 120px;
    background-repeat: repeat;
    width: 1000px;
    height: 600px;
    padding: 25px;
    padding: 25px;
}

#maze {
    position: relative;
    border: 2px double #0000FF;
    z-index: 3;
}

.line {
    position: relative;
    z-index: 3;
    display: flex;
}

.block {
    background-image: url('img/block.png');
    background-size: 50px;
    width: 40px;
    height: 40px;
}
    
.space, .S, .F  {
    background-image: url('img/florest.png');
    background-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.player {
    /* background-image: url('players/sonic.gif'); */
    background-size: 40px;
    width: 40px;
    height: 40px;
    animation-duration: 100ms;
    animation-name: slideRight;
}

@keyframes slideRight {
    0% {
        margin-left: 100%;
        width: 300%;
        opacity: 0.5;
    }
    100% {
        margin-left: 0%;
        width: 100%;
        opacity: 1;
    }
}

#winner {
    position: absolute;
    z-index: 4;
    text-align: center;
    width: 400px;
    height: 400px;
    margin: 0;

}


@media only screen and (max-width: 1366px) {
    #main {
        width: 750px;
        height: 450px;
    }

    #fishes {
        background-size: 100px;

        width: 750px;
        height: 450px;
    }
        
    .block, .space, .S, .F  {
        width: 30px;
        height: 30px;
    }
    
    .player {
        background-size: 30px;
        width: 30px;
        height: 30px;
    }

    #winner { 
        width: 300px;
        height: 300px; 
    }

}